
  <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
           <div  class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">grow your business with us</p>
              <div  class="row">
                 <div class="col-md-6 col-12 hero-text ">
                      <figure>
                        <img src="images/about.svg" alt="herosection_image">
                      </figure>
                  </div>
                 
                  {{!-- right side --}}
                  <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                     <h1>WELCOME TO THE ABOUT PAGE</h1>
                      
                      <p>Welcome To<span class="bold-style">Angel Sharma</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis neque iste dignissimos, perferendis id dolor, tempore quasi inventore, molestias a rem cumque quo dolore. 
                      </p>
                      <button class="btn-style btn-primary">Read more</button>
                  </div>
              </div>
           </div>
      </div>

  </div>

 